# Rename this file to ".env"

# API Key for "weather" server
export WEATHER_SECRET="xxx"

# Endpoint that returns weather information
export WEATHER_ENDPOINT="https://example.org"


# API Key for indoors temp server
export INDOORS_SECRET="xxx"

# Endpoint that returns indoors temp
export INDOORS_ENDPOINT="https://example.net"

